* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    text-align: center;
    font-family: sans-serif;
    /* background-color: #1a2035; */
    background-image: url(/img/fondo.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #171717;
    position: fixed;
    width: 100%;
    z-index: 100;
}





.logo a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}

header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.sau {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.title {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    padding: 0 100px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #9c27b0;
    color: #fff;
    text-decoration: none;
    background: #9c27b0;
}

.btn:hover {
    background: none;

}

.btn-home {
    display: flex;
}

.btn-home a {
    margin: 0 10px;
}


.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

}



.box-container .box img {
    height: 10rem;
    width: 10rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #9c27b0;
    font-size: 2rem;
    margin: 1rem 0;

}

.box-container .box h3 {
    font-size: 20px;
    color: #9c27b0;
    justify-content: center;

}


@media (max-width: 1080px) {

    .title {
        margin-bottom: 0;
        font-size: 40px;
    }

    .sau {
        height: 160vh;
    }

    .navbar {
        display: none;
    }


}

.panel {
    padding: 1em 0;
    text-align: right;
    color: #9c27b0;
    position: absolute;
    bottom: 0;
    width: 95%;
    height: 2%;
    display: flex;
    justify-content: flex-end;
}

.panel a {
    text-decoration: none;
    color: #1c8ccc;
}

.ctl1 {
    margin-right: 5%;
}

.osde {
    margin-left: 5%;
}

#particles-js{
    background-color: #1a2035;      
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url("");
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}